@font-face {
  font-family: 'lg';
  src: url("lg.eot?n1z373");
  src: url("lg.eot?#iefixn1z373") format("embedded-opentype"), url("lg.woff?n1z373") format("woff"), url("lg.ttf?n1z373") format("truetype"), url("lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal;
}
